<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @recipe.directions %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @recipe.creator_id %>
</p>

<p>
  <strong>Meatcut:</strong>
  <%= @recipe.meatcut_id %>
</p>

<p>
  <strong>Technique:</strong>
  <%= @recipe.technique_id %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
