<div id="animals">
<h1>Animals We Eat</h1>

<div id="animal_cow" class="animal_icons">
  <%= link_to(image_tag("/cow.png"), animal_path(id: 1)) %>
  <div class="a_label">Cow, otherwise known as Beef</div>
</div>

<div id="animal_sheep" class="animal_icons">
  <%= link_to(image_tag("/lamb.png"), animal_path(id: 2)) %>
   <div class="a_label">Sheep, otherwise known as Mutton or Lamb</div>
</div>

<div id="animal_pig" class="animal_icons">
  <%= link_to(image_tag("/pig.png"), animal_path(id: 3)) %>
  <div class="a_label">Pig, otherwise known as Pork </div>
</div>

<div id="animal_goat" class="animal_icons">
  <%= link_to(image_tag("/goat.png"), animal_path(id: 5)) %>
  <div class="a_label">Goat is just goat.</div>
</div>

<div id="animal_bison" class="animal_icons">
  <%= link_to(image_tag("/bison.png"), animal_path(id: 4)) %>
  <div class="a_label">Bison is not the same as buffalo.</div>
</div>

<div class="footer">
</div>
</div>
